
<div style="max-width: 80vw; margin: 0 auto;">
  {{panelOpened()}}
  <mat-accordion>
    @if (panelOpened() == 0 || panelOpened() == undefined) {
    <mat-expansion-panel class="!mb-8 uppercase p-10" (opened)="panelOpened.set(0)" (closed)="panelOpened.set(undefined)">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-4xl">Greetings </mat-panel-title>
      </mat-expansion-panel-header>
      @for (phrase of phrases; track $index) {
        @if (phrase.catagory == "greetings") {
          <audio [src]="phrase.url" #audio></audio>
          <button mat-icon-button (click)="audio.play()">
            <mat-icon>play_arrow</mat-icon>
          </button>
          <span>{{ phrase.text }}</span>
          <br><br> <!-- Add a line break here -->
        }
      }
    </mat-expansion-panel>
    }
    @if (panelOpened() == 1 || panelOpened() == undefined) {
    <mat-expansion-panel  class="!mb-8 uppercase p-10" (opened)="panelOpened.set(1)"(closed)="panelOpened.set(undefined)">
      <mat-expansion-panel-header >
        <mat-panel-title class="text-4xl"> Navigation </mat-panel-title>
      </mat-expansion-panel-header>
      @for (phrase of phrases; track $index) {
        @if (phrase.catagory == "navigation") {
        <audio [src]="phrase.url" #audio></audio>
        <button mat-icon-button (click)="audio.play()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <span>{{ phrase.text }}</span>
        <br><br> <!-- Add a line break here -->
        }
      }
    </mat-expansion-panel>
  }
  @if (panelOpened() == 2 || panelOpened() == undefined) {
    <mat-expansion-panel class="!mb-8 uppercase p-10" (opened)="panelOpened.set(2)"(closed)="panelOpened.set(undefined)">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-4xl"> Shopping</mat-panel-title>
      </mat-expansion-panel-header>
      @for (phrase of phrases; track $index) {
        @if (phrase.catagory == "shopping") {
          <audio [src]="phrase.url" #audio></audio>
          <button mat-icon-button (click)="audio.play()">
            <mat-icon>play_arrow</mat-icon>
          </button>
          <span>{{ phrase.text }}</span>
          <br><br> <!-- Add a line break here -->
        }
      }
    </mat-expansion-panel>
  }
  </mat-accordion>
</div>
