
<div style="max-width: 80vw; margin: 0 auto;">
  <mat-accordion>
    <mat-expansion-panel class="!mb-8 uppercase p-10">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-4xl">Greetings </mat-panel-title>
      </mat-expansion-panel-header>
      @for (phrase of phrases; track $index) {
        <audio [src]="phrase.url" #audio></audio>
        <button mat-icon-button (click)="audio.play()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <span>{{ phrase.phrase }}</span>
        <br><br> <!-- Add a line break here -->
      }
    </mat-expansion-panel>
    <mat-expansion-panel  class="!mb-8 uppercase p-10" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header >
        <mat-panel-title class="text-4xl"> Navigation </mat-panel-title>
      </mat-expansion-panel-header>
      @for (phrase of phrases; track $index) {
        <audio [src]="phrase.url" #audio></audio>
        <button mat-icon-button (click)="audio.play()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <span>{{ phrase.phrase }}</span>
        <br><br> <!-- Add a line break here -->
      }
    </mat-expansion-panel>
    <mat-expansion-panel class="!mb-8 uppercase p-10">
      <mat-expansion-panel-header>
        <mat-panel-title class="text-4xl"> Shopping</mat-panel-title>
      </mat-expansion-panel-header>
      @for (phrase of phrases; track $index) {
        <audio [src]="phrase.url" #audio></audio>
        <button mat-icon-button (click)="audio.play()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <span>{{ phrase.phrase }}</span>
        <br><br> <!-- Add a line break here -->
      }
    </mat-expansion-panel>
  </mat-accordion>
</div>
