
<div style="max-width: 80vw; margin: 0 auto;">
  <mat-accordion>
    <mat-expansion-panel class="panel-spacing uppercase p-10">
      <mat-expansion-panel-header>
        <mat-panel-title >Greetings </mat-panel-title>
      </mat-expansion-panel-header>
      @for (phrase of phrases; track $index) {
        <audio [src]="phrase.url" #audio></audio>
        <button mat-icon-button (click)="audio.play()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <span>{{ phrase.phrase }}</span>
        <br><br> <!-- Add a line break here -->
      }
    </mat-expansion-panel>
    <mat-expansion-panel  class="panel-spacing uppercase p-10" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title> Navigation </mat-panel-title>
      </mat-expansion-panel-header>
      @for (phrase of phrases; track $index) {
        <audio [src]="phrase.url" #audio></audio>
        <button mat-icon-button (click)="audio.play()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <span>{{ phrase.phrase }}</span>
        <br><br> <!-- Add a line break here -->
      }
    </mat-expansion-panel>
    <mat-expansion-panel class="panel-spacing uppercase p-10">
      <mat-expansion-panel-header>
        <mat-panel-title> Shopping</mat-panel-title>
      </mat-expansion-panel-header>
      @for (phrase of phrases; track $index) {
        <audio [src]="phrase.url" #audio></audio>
        <button mat-icon-button (click)="audio.play()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <span>{{ phrase.phrase }}</span>
        <br><br> <!-- Add a line break here -->
      }
    </mat-expansion-panel>
  </mat-accordion>
</div>
