<div class="p-10 flex flex-col min-h-[100svh] relative">

  @if (planet(); as planet) {
    <div>
      <div class="uppercase font-semibold text-[65px]">
        {{ planet.name }}
      </div>
    </div>
  }

  <div class="flex-1">


  </div>

  <div class="flex flex-row justify-end gap-10 uppercase underline w-full">
    <div>
      Language
    </div>
    <div>
      Reviews
    </div>
    <div>
      Attractions
    </div>
  </div>

  @if (planet(); as planet) {
    <img [src]="planet.imageUrl" class="absolute right-[50%] top-[50%]"/>
  }
</div>
