<div class="p-10 flex flex-col min-h-[100svh] relative font-outfit max-w-[1000px] mx-auto">

  @if (planet(); as planet) {
    <div class="flex flex-col">
      <a [routerLink]="['/']">
        ← Back to space
      </a>
      <div class="uppercase font-semibold text-[50px] md:text-[65px] my-6 md:-mt-3 pointer-events-none">
        {{ planet.name }}
      </div>
    </div>
  }

  <div class="flex-1 z-10 w-full mb-10">
    <router-outlet/>
  </div>

  <div class="flex flex-col md:flex-row justify-end items-end gap-10 uppercase w-full z-10">
    <a [routerLinkActiveOptions]="{exact: true}" [routerLinkActive]="['underline']"
       [routerLink]="['/planet', planet()?.guid]">
      Weather
    </a>
    <a [routerLinkActive]="['underline']" [routerLink]="['language']">
      Language
    </a>
    <a [routerLinkActive]="['underline']" [routerLink]="['reviews']">
      Reviews
    </a>
    <a [routerLinkActive]="['underline']" [routerLink]="['live-view']">
      Live view
    </a>
  </div>

</div>
@if (planet(); as planet) {
  <img [src]="planet.detailImageUrl"
       class="fixed left-[0%] bottom-[0%] transform z-0 h-[60svh] w-[50svw] object-contain object-left-bottom"/>
}

<app-planet-selector class="absolute top-10 right-20"/>
