<div class="min-h-svh p-10 flex flex-col">
  <div class="flex flex-row gap-10 uppercase">
    <div class="mr-auto text-2xl">
      Guide to the Galaxy
    </div>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-3 flex-1 items-center text-center">
    @for (planet of planetsService.planets(); track planet.guid) {
      @if (!planet.hideFromHome) {
        <div [routerLink]="['/planet', planet.guid]" class="group cursor-pointer" appRandomMove>
          <img [src]="planet.imageUrl" class="group-hover:scale-110 transition size-[200px] mx-auto object-contain">
          <p class="opacity-0 group-hover:opacity-100 transition">{{ planet.name }}</p>
        </div>
      }
    }
  </div>


</div>

<div (click)="image.click()" class="fixed bottom-10 right-10">
  <img alt="Camera Icon" class="h-[90px] mx-auto" src="assets/camera.png">
  <p>DETECT PLANET</p>
  <input #image (change)="onFileSelected($event)" class="hidden" type="file"/>
</div>

@if (isLoading()) {
  <div class="grid place-items-center fixed h-full w-full bg-black top-0 left-0">
    <img src="assets/loading.gif" class="mx-auto">
    <p>Detecting Planet...</p>
  </div>
}
