<div class="min-h-svh p-10 flex flex-col">
  <div class="flex flex-row gap-10 uppercase">
    <div class="mr-auto">
      Travel guide app
    </div>
  </div>

  <div class="grid grid-cols-3 flex-1 items-center text-center">
    @for (planet of planetsService.planets(); track planet.guid) {
      <div [routerLink]="['/planet', planet.guid]" class="group cursor-pointer" appRandomMove>
        <img [src]="planet.imageUrl" class="group-hover:scale-110 transition size-[200px] mx-auto object-contain">
        <p class="opacity-0 group-hover:opacity-100 transition">{{ planet.name }}</p>
      </div>
    }
  </div>


</div>

<div class="fixed bottom-10 right-10" (click)="image.click()">
  <img src="assets/camera.png" alt="Camera Icon" class="h-[90px] mx-auto">
  <p>DETECT PLANET</p>
  <input type="file" #image class="hidden" (change)="onFileSelected($event)"/>
</div>

@if(isLoading()){

<div class="fixed h-full w-full bg-black top-0 left-0">
loading....
</div>
}