@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  color: #fff;
}


.translucent-panel {
  --mat-expansion-container-background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(10px);
}

.transparent-menu{
  --mat-menu-container-color : rgba(0, 0, 0, 0  ) !important;
  border: none;
}

/* Apply default font family */
body {
  @apply font-outfit;
}


@mixin smooth-random-movement($duration) {
  animation: smoothRandomMovement $duration infinite alternate ease-in-out;
}

@keyframes smoothRandomMovement {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(2px, -2px);
  }
  20% {
    transform: translate(-5px, 7px);
  }
  30% {
    transform: translate(5px, -5px);
  }
  40% {
    transform: translate(-2px, 7px);
  }
  50% {
    transform: translate(2px, -7px);
  }
  60% {
    transform: translate(-7px, 2px);
  }
  70% {
    transform: translate(7px, -2px);
  }
  80% {
    transform: translate(-5px, 5px);
  }
  90% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.random-object {
  @include smooth-random-movement(60s); // Adjust duration for smoother motion
}
