@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  color: #fff;
}


.translucent-panel {
  --mat-expansion-container-background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(10px);
}

.transparent-menu{
  --mat-menu-container-color : rgba(0, 0, 0, 0  ) !important;
  border: none;
}

/* Apply default font family */
body {
  @apply font-outfit;
}

.blurred {
  filter: blur(5px);
  transition: filter 0.3s;
}
